/*********************
            INDEX
    --------------------
    1.container
    2.card-container
    3.card-container:hover
    4.card
    5.card figure
    6.card front
    7.card back
    8.button
    9.button:hover

***********************/


.container{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.card-container{
    width:200px;
    height:300px;
    
}
.card-container:hover .card{
    transform: rotateY(180deg);
}

.card{
    width:100%;
    height:100%;
    transition:transform 1s ease-in-out;
    transform-style:preserve-3d;
}

.card figure{
    width:100%;
    height:100%;
    margin:0;
    position:absolute;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border-radius:5px;
    border:1px solid rgb(54, 87, 87);
}

.card .front{
    background-color:rgb(35, 35, 94);
    color:white;
    text-align:center;
}
.card .back{
    background-color:aqua;
    color:rgb(35, 35, 94);
    transform: rotateY(180deg);
}
button{
    background-color:rgb(35, 35, 94);
    border-radius:6px;
    border:none;
    color:white;
    padding:1em;
    margin-bottom:1em;
    cursor: pointer;
}
button:hover{
    background-color:rgb(95, 43, 155);
    cursor: pointer;
}
